.App {
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 0;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}

.svg-wrapper {
    margin-top:10vh;
    height: 100%;
  pointer-events: all; 
  
  stroke: #fff;
  pointer-events: all;
}

#path-name {
  pointer-events: all;
  
}
.home{
    height:100vh;
}


.home-button{
  background-color: slateblue;
  color:white;
  z-index: 0;
  text-decoration:none;
  border:none;
  border-radius:2px;
  cursor: pointer;
  margin-top:10vh;
  font-size: 10px;
}
.name-header{
  width:70vw;
  margin:auto;
  
}


.transitions-item {
  
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}

.home-button-container{
  font-size: 12px;
  display:flex;
  flex-direction: column;
  width: 10vw;
  margin: auto;
}

@media only screen and (max-width: 600px){
  .home-button-container{
    width: fit-content;
  }
}